<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="nebullama-search"/>

  <property name="CONSOLE_PATTERN"
    value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %m%n%wEx"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- Reduce noise from framework internals -->
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.springframework.web" level="INFO"/>
  <logger name="org.apache.catalina" level="WARN"/>
  <logger name="org.apache.coyote" level="WARN"/>
  <logger name="org.apache.tomcat" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
